*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
}

.canvas {
  display: block;

  /*
     The two lines below moves the canvas
     behind the actual contents.
  */
  position: absolute;
  z-index: -1;
}

/* Hamburger */

.hamburger-container {
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
  background-color: black;
  left: 10px;
  border-radius: 1em;
  display: grid;
  place-items: center;
  padding: 2em;

  border: 0.25em solid transparent;

  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.hamburger-container.settings-open {
  transform: translateX(50vw);
  transition: transform 0.5s ease-in-out;
}

.hamburger-menu {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: white;
  /* border-radius: 5px; */
  margin: 3px 0;
  transform-origin: left;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.hamburger-container.settings-open .bar-top {
  transform: translate(12.5%) rotate(45deg);
}
.hamburger-container.settings-open .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-container.settings-open .bar-bottom {
  transform: translate(12.5%) rotate(-45deg);
}

/* Settings */

.settings {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.755);
  width: 50vw;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.settings.settings-open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.bar {
  display: grid;
  height: 30px;
  grid-template-rows: 1fr;
  grid-template-areas: ". selected .";
  background-color: black;
  position: relative;
}

.bar .selected {
  grid-area: selected;
  background-color: white;

  pointer-events: none;
}

.bar-container {
  margin-top: 2em;
  /* width: 95%; */
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 25px auto 25px;
  gap: 0.5rem;
}

.bar-container input {
  border: none;
  background-color: transparent;
}

.bar-container input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

/* Epilepsy warning */
.warning {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
  background-color: #111;

  display: grid;
  justify-items: center;
  user-select: none;
}

.warning.removed {
  opacity: 0;
  transition: opacity ease-out;
}

.warning-container {
  place-self: center;
  width: 90%;

  height: fit-content;
  display: grid;
}

.warning .title {
  justify-self: center;
  font-size: 60px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #931f1f;
}

.warning .description {
  justify-self: center;
  font-size: 32px;
  /* width: 95%; */
  max-width: 1000px;
  margin-bottom: 32px;

  color: white;
}

.btn-agree-warning {
  width: fit-content;
  justify-self: center;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-agree-warning:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-agree-warning:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
